version: '3.8'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    entrypoint: ["/opt/keycloak-entrypoint.sh"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME: localhost
      KC_HOSTNAME_STRICT: 'false'
      KC_HOSTNAME_STRICT_HTTPS: 'false'
      KC_HTTP_ENABLED: 'true'
    ports:
      - '8080:8080'
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./realm-export.json:/opt/keycloak/data/import/realm-export.json
      - ./keycloak-entrypoint.sh:/opt/keycloak-entrypoint.sh

  vault:
    image: hashicorp/vault:latest
    container_name: vault
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: dev-only-token
      VAULT_DEV_LISTEN_ADDRESS: '0.0.0.0:8200'
    ports:
      - '8200:8200'
    volumes:
      - vault_data:/vault/data
    command: server -dev

  flask:
    build: .
    container_name: flask_app
    ports:
      - '5000:5000'
    depends_on:
      - keycloak
      - vault
    env_file:
      - .env

volumes:
  keycloak_data:
  vault_data:
